<div class="container"><br><br>
    
    <div class="bts">
        <button class="btn btn" (click)="clickedrandNum1()">{{ randNum1 }}</button>
        <button class="btn btn" (click)="clickedrandNum2()">{{ randNum2 }}</button>
        <button class="btn btn" (click)="clickedrandNum3()">{{ randNum3 }}</button>
        <button class="btn btn" (click)="clickedrandNum4()">{{ randNum4 }}</button>
        <button class="btn btn" (click)="clickedrandNum5()">{{ randNum5 }}</button>
        <button class="btn btn" (click)="clickedrandNum6()">{{ randNum6 }}</button>
    </div>
  
    <div class="selected">

        <h2>You selected:</h2>

        <div class="result">
            <input type="number" value="{{result}}">
        </div>
  
    </div>
  </div>
  